[build-system]
requires = ["flit_core >=3.2,<4"]
build-backend = "flit_core.buildapi"

[project]
name = "lumache"
authors = [{name = "Zack Gold", email = "zachary.gold@noaa.gov"},{name = "Han Weinrich"}]
dynamic = ["version", "description"]
